.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

mat-card {
    width: 400px;
    padding: 20px;
}

mat-card-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.fieldsContainer {
    margin-bottom: 20px;
}

mat-form-field {
    width: 100%;
}

.error {
    color: red;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button[type="submit"] {
    width: 100%;
    background-color: #673ab7;
    color: #fff;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #482b8f;
}