
<div mat-dialog-content>
    <div class="login-container">
        <div class="login-content">
            <mat-toolbar class="login-toolbar" color="primary">REGISTER</mat-toolbar>

                <form [formGroup]="editEmployeeForm">

                    <mat-form-field>
                        <mat-icon matPrefix>person_outline</mat-icon>
                        <input type="text" matInput placeholder="First Name" formControlName="firstName">
                        <mat-error>
                            error
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-icon matPrefix>person_outline</mat-icon>
                        <input type="text" matInput placeholder="Last Name" formControlName="lastName">
                        <mat-error>
                            error
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-icon matPrefix>person_outline</mat-icon>
                        <input type="text" matInput placeholder="Role" formControlName="role">
                        <mat-error>
                            error
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-icon matPrefix>person_outline</mat-icon>
                        <input type="text" matInput placeholder="Department" formControlName="department">
                        <mat-error>
                            error
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-icon matPrefix>person_outline</mat-icon>
                        <input type="text" matInput placeholder="Salary" formControlName="salary">
                        <mat-error>
                            error
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-icon matPrefix>person_outline</mat-icon>
                        <input type="text" matInput placeholder="Age" formControlName="age">
                        <mat-error>
                            error
                        </mat-error>
                    </mat-form-field>
                </form>
        </div>
    </div>
</div>

<mat-divider></mat-divider>

<div mat-dialog-actions align="center">
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [disabled]="editEmployeeForm.invalid || !editEmployeeForm.dirty" type="submit" color="primary" (click)="onSubmit()">Submit</button>
</div>