<div mat-dialog-content>
    <div class="login-container">
        <div class="login-content">
            <mat-toolbar class="login-toolbar" color="primary">
                Edit Employee
            </mat-toolbar>

            <form [formGroup]="editEmployeeForm">
                <div class="input-row">
                    <div class="form-field">
                        <mat-form-field>
                            <mat-icon matPrefix>person_outline</mat-icon>
                            <input type="text" matInput placeholder="First Name" formControlName="firstName">
                            <mat-error>This field is required with minimal length of 3 characters</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="form-field">
                        <mat-form-field>
                            <mat-icon matPrefix>person_outline</mat-icon>
                            <input type="text" matInput placeholder="Last Name" formControlName="lastName">
                            <mat-error>This field is required with minimal length of 3 characters</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="form-field">
                        <mat-form-field>
                            <mat-label>Role</mat-label>
                            <mat-select formControlName="role" placeholder="Select role">
                                <mat-option *ngFor="let role of roles" [value]="role">
                                    {{role}}
                                </mat-option>
                            </mat-select>
                            <mat-error>
                                This field is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="input-row">
                    <div class="form-field">
                        <mat-form-field>
                            <mat-icon matPrefix>person_outline</mat-icon>
                            <input type="text" matInput placeholder="Department" formControlName="department">
                            <mat-error>This field is required with minimal length of 5 characters</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="form-field">
                        <mat-form-field>
                            <mat-icon matPrefix>person_outline</mat-icon>
                            <input type="text" matInput placeholder="Salary" formControlName="salary">
                            <mat-error>This field is required with a number greater or equal 1000</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="form-field">
                        <mat-form-field>
                            <mat-icon matPrefix>person_outline</mat-icon>
                            <input type="text" matInput placeholder="Age" formControlName="age">
                            <mat-error>This field is required with a number greater or equal 18</mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<mat-divider></mat-divider>

<div mat-dialog-actions align="center">
    <button mat-button (click)="cancel()">Cancel</button>
    <button mat-button [disabled]="editEmployeeForm.invalid || !editEmployeeForm.dirty" type="submit" color="primary"
        (click)="onSubmit()">Submit</button>
</div>