<div class="container">
    <mat-card class="card">
        <img src="../../assets/icons/logo.svg">
        <div class="header">
            <mat-icon class="icon">lock</mat-icon>
            <h2 class="title">Change Password</h2>
        </div>

        <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
            <mat-form-field>
                <input formControlName="newPassword" type="text" matInput placeholder="New Password">
            </mat-form-field>
            <mat-error>
                <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)"
                    class="form-text text-danger">
                    <div *ngIf="newPassword.errors?.['required']">
                        Field is required
                    </div>
                    <div *ngIf="newPassword.errors?.['pattern']">
                        Password must contain at least one number, one special character, one uppercase and a
                        lowercase letter and at least 8 characters<br />Password cannot
                        contain whitespace
                    </div>
                </div>
            </mat-error>
            <br>
            <mat-form-field>
                <input formControlName="confirmPassword" type="text" matInput placeholder="Confirm Password">
            </mat-form-field>
            <mat-error>                
                <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)"
                    class="form-text text-danger">
                    <div *ngIf="confirmPassword.errors?.['required']">
                        Field is required
                    </div>
                    <div *ngIf="confirmPassword.errors?.['pattern']">
                        Password must contain at least one number, one uppercase and a
                        lowercase letter and at least 8 characters<br />Password cannot
                        contain whitespace
                    </div>
                    <div *ngIf="confirmPassword.errors?.['confirmedValidator']">
                        Passwords did not match
                    </div>
                </div>
            </mat-error>

            <div class="button">
                <button [disabled]="changePasswordForm.invalid || !changePasswordForm.dirty" type="submit" mat-raised-button>Change Password</button>
            </div>
            <div class="button" id="cancel-button">
                <button type="button" (click)="goBack()" mat-raised-button>Go Back</button>
            </div>
        </form>
    </mat-card>
</div>