<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
        <input formControlName="oldPassword" type="text" matInput placeholder="oldPassword">
    </mat-form-field>
    <br>
    <mat-form-field>
        <input formControlName="newPassword" type="text" matInput placeholder="newPassword">
    </mat-form-field>
    <br>
    <mat-form-field>
        <input formControlName="confirmNewPassword" type="text" matInput placeholder="confirmNewPassword">
    </mat-form-field>

    <div class="button">
        <button type="submit" mat-raised-button>Change Password</button>
    </div>

</form>