.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card {
    width: 400px;
    padding: 20px;
    text-align: center;
    align-items: center;

    img {
        width: 300px;
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.icon {
    margin-right: 8px;
}

.title {
    margin: 0;
}

.button {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}